# ignored files extensions
*.bak
*.log
*.pdf
*.zip
*.hprof
*.index
*.hwcache/
*.threads

# ignored directories
target
files
bin
.svn
out

# eclipse
.projects
.settings
.metadata
*.classpath
*.project
*.projects

# idea
.idea
*.iml
*.ipr
*.iws
*.ids
atlassian-ide-plugin.xml
